.Rapp.history
testing.Rmd
radiant-install.Rmd
.Rhistory
.dropbox
.Rproj.user
launchers/launchers-code
inst/base/www/MathJax

radiant-sync/test-student-account.Rmd
radiant-sync/sync2dropbox.sh
radiant-sync/exclude-from-sync2dropbox.txt
