label.radio { 
  display: inline-block; 
}

.radio input[type="radio"] { 
  float: none; 
}

select { 
  max-width: 200px; 
}

textarea { 
  max-width: 185px; 
}

.jslider { 
  max-width: 200px; 
}

.well { 
  padding: 12px; 
  margin-bottom: 5px; 
  max-width: 280px; 
}

.span4 { 
  max-width: 280px; 
}

.popover { 
  width: 600px; 
  position: relative; top: -75px !important; 
  left: 320px !important; 
}

.modal { 
  width: 750px; 
}

/*.chart_container {
  position: relative;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
}
.rChart {
  display: inline-block;
  margin-left: 40px;
}
.yAxis {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 40px;
}
.legend {
  position: absolute;
  top: 0;
  right: -160px;
  vertical-align: top;
}
.slider {
  margin-left: 40px;
  margin-top: 12px;
}
*/

