.well {
  padding: 12px;
  margin-bottom: 5px;
}

.col-sm-4 {
  max-width: 300px;
}

.nav-tabs {
  margin-bottom: 10px;
}

.checkbox {
  margin-top: 0px;
  margin-bottom: 0px;
}

/*
.navbar {
  margin-bottom: 10px;
}


label {
  margin-bottom: 5px;
}

.form-group {
  margin-bottom: 5px;
}


*/

/*.radio-inline:first-child, .checkbox-inline:first-child {
  margin-right: 0;
  margin-left: 10px;
}*/

.modal-dialog {
  width: 800px;
}

img {
  max-width: 100%;
  height: auto;
}

pre {
  /* overflow: auto; */
  word-wrap: normal;
  white-space: pre;
}

.alignleft {
  float: left;
}

.alignright {
  float: right;
}

/*select {
  max-width: 200px;
}*/

/*#viz_plot_width, #viz_plot_height, #pmap_scaling, #pmap_fontsz,
#ctl_m, #ctl_n, #ctl_unif_min, #ctl_unif_max, #ctl_norm_mean,
#ctl_norm_sd, #ctl_expo_rate, #ctl_binom_size, #ctl_binom_prob {
  max-width: 60px;
}
*/
/*
.radio, .checkbox {
  padding-left: 0px;
  align: left;
}
*/

/*.radio-inline {
 margin-left: 0;
  margin-right: 0px;
}

.radio-inline:last-child {
  margin-right: 0;
}
*/

/*.radio {
  margin-top: 10px;
  margin-bottom: 10px;
}
*/

