.stab { list-style-type: none; margin: 0; padding: 0; width: 200px; }
li.stab { margin: 0 5px 5px 5px; padding: 5px; font-size: 1.2em; height: 1.5em; cursor:move;}
html>body li.stab { height: .5em; line-height: .5em; }
.ui-state-highlight { list-style-type: none; height: .5em; line-height: .5em; }
